.container {
    width: 70%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-size: 40%;
    position: relative;
}

#logo {
    width: 20%;
    position: absolute;
    bottom: 5%;
    left: 0.5%;
}

.title {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 0;
}

.gray-text {
    color: gray;;
}

.light-blue-text {
    color: #20A9E5;
}

.smaller-text {
    font-size: 0.7em;
}