.container {
    width: 70%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
    background-size: 40%;
    position: relative;
}

#logo {
    width: 20%;
    position: absolute;
    bottom: 5%;
    left: 0.5%;
}

.title {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 0;
}

.gray-text {
    color: gray;;
}

.light-blue-text {
    color: #20A9E5;
}

.smaller-text {
    font-size: 0.7em;
}

.highlighted-text {
    background-color: yellow;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

.narrow-column {
    width: 25%;
}

.wide-column {
    width: 50%;
}

.white-on-light-blue {
    color: white;
    background-color: #20A9E5;
}

.lighter-blue-background {
    background-color: #B1E5F2;
}

.footer-img{
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    color: white;
    padding: 10px 0 0 10px;
    font-size: 1.5em;
}

#footer-img-1 {
    background-image: url('../img/monitor.jpg');
}

#footer-img-2 {
    background-image: url('../img/graph.jpg');
}
